.jobdetail__contain {
  .jobdetail__browsing {
    .card {
      max-width: 100%;
      height: 100%;
      .card-body {
        .card-text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
